body {
    background-color: #3498db;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
}

h1 {
    text-transform: uppercase;
    color: #ecf0f1;
    font-size: 50px;
}